.menu-btn {
    width: 117px;
    height: 33px;
    border-radius: 33px;
    border: 0;
    background-color: white;
    margin-bottom: 16px;
}
.menu-btn:hover {
    background-color: lightpink;
    color: var(--primary-color);
}

.menu-btn:hover {
    border-color: var(--primary-color);
}

.delete-order-btn{
    background-color: var(--secondary-color);
    border: 0;
    padding: 0;
}

.add-to-order {
    border: 0;
    background-color: var(--secondary-color);
}

.buy-now-btn {
    color: white;
    background-color: var(--primary-color);
    padding: 16px;
    border: 0;
    border-radius: 32px;
    font-size: 20px;
}

/*          /\__/\               */
/*        =(  '.' )=   |         */
/*          |`[]``\   /          */
/*          |_n__n_| /           */

.reponsive-menu-bar-btn {
    background-color: var(--thirt-color);
    border: 0;
    padding: 0;
    margin: 16px;
}

.reponsive-menu-bar-home {
    height: 35px;
    width: 35px;
    background-image: url(/icons/home-default.png);
    background-color: var(--thirt-color);
    background-size: contain;
    border: 0;
    margin: 8px 0 8px 8px;
}
.reponsive-menu-bar-home:hover {
    height: 30px;
    width: 30px;
    background-image: url(/icons/home.active.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    margin: 8px 0 8px 8px;
}

.reponsive-menu-bar-profile-img {

}

.reponsive-menu-bar-food-img {
}

.reponsive-menu-bar-basket-img {
}