.menu-btn {
    width: 117px;
    height: 33px;
    border-radius: 33px;
    border: 0;
    background-color: white;
    margin-bottom: 16px;
}
.menu-btn:hover {
    background-color: lightpink;
    color: var(--primary-color);
}

.menu-btn:hover {
    border-color: var(--primary-color);
}

.delete-order-btn{
    background-color: var(--secondary-color);
    border: 0;
    padding: 0;
}

.add-to-order {
    border: 0;
    background-color: var(--secondary-color);
}

.buy-now-btn {
    color: white;
    background-color: var(--primary-color);
    padding: 16px;
    border: 0;
    border-radius: 32px;
    font-size: 20px;
}

/*          /\__/\               */
/*        =(  '.' )=   |         */
/*          |`[]``\   /          */
/*          |_n__n_| /           */

.reponsive-menu-bar-btn {
    background-color: var(--thirt-color);
    border: 0;
    padding: 0;
    margin: 16px;
}

.reponsive-menu-bar-home {
    height: 35px;
    width: 35px;
    background-image: url(../icons/home-default.png);
    background-color: transparent;
    background-repeat: no-repeat;
    background-position: center;
    border: none;
    margin: 8px 0 8px 16px;
}
.reponsive-menu-bar-home:hover {
    height: 35px;
    width: 35px;
    background-image: url(../icons/home-hover.png);
    background-color: var(--secondary-color);
    border-radius: 8px;
}
.reponsive-menu-bar-home:active {
    background-color: var(--primary-color);
}


.reponsive-menu-bar-profile {
    height: 35px;
    width: 35px;
    background-image: url(../icons/person-default.png);
    background-color: transparent;
    background-repeat: no-repeat;
    background-position: center;
    border: none;
    margin: 8px 0 8px 0;
}
.reponsive-menu-bar-profile:hover {
    width: 35px;
    height: 35px;
    background-image: url(../icons/person-hover.png);
    background-color: var(--secondary-color);
    border-radius: 8px;
}
.reponsive-menu-bar-profile:active {
    background-color: var(--primary-color);
}

.reponsive-menu-bar-food {
    height: 35px;
    width: 35px;
    background-image: url(../icons/takeout_dining_default.png);
    background-color: transparent;
    background-repeat: no-repeat;
    background-position: center;
    margin-top: 8px;
    border: none;
}
.reponsive-menu-bar-food:hover {
    height: 35px;
    width: 35px;
    background-image: url(../icons/takeout_dining_hover.png);
    background-color: var(--secondary-color);
    border-radius: 8px;
}
.reponsive-menu-bar-food:active {
    background-color: var(--primary-color);
}

.reponsive-menu-bar-basket {
    width: 35px;
    height: 35px;
    background-image: url(../icons/shopping_cart-default.png);
    background-color: transparent;
    background-repeat: no-repeat;
    background-position: center;
    margin: 8px 16px 8px 0;
    border: 0;
}
.reponsive-menu-bar-basket:hover {
    width: 35px;
    height: 35px;
    background-image: url(../icons/shopping_cart-hover.png);
    background-color: var(--secondary-color);
    border-radius: 8px;
}
.reponsive-menu-bar-basket:active {
    background-color: var(--primary-color);
}

.close-responisve-basket {
    display: none;
}