.close-dialog-btn {
    background-color: var(--thirt-color);
    border: 0;
    padding: 8px 8px 0 0;
}

.dialog-img {
    width: 150px;
}

.dialog-txt {
    color: var(--secondary-color);
    margin: 0;
}

dialog[open] {
    background-color: var(--thirt-color);
    border: 0;
    border-radius: 40px;
    height: 225px;
    width: 340px;
}

/*          /\__/\
          =(  '.' )=   |
            |`[]``\   /
            |_n__n_| /
*/

.close-dialog-btn-container{
    text-align: end;
}

.section-dialog {
    text-align: center;
}

dialog::backdrop {
    opacity: 0.5;
    background-color: var(--thirt-color);
}