.responsive-menu-bar {
        display: none;
    }

/*          /\__/\               */
/*        =(  '.' )=   |         */
/*          |`[]``\   /          */
/*          |_n__n_| /           */

@media(max-width: 803px) {
    .section-basket {
        display: none;
    }

    main {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .menu-content {
        width: 690px;
        height: 176px;
    }

    .ramen-menu-img {
        min-width: 192px;
        max-width: 192px;
        height: 155px;
    }

    .ingredients-txt {
        max-width: 356px;
        min-width: 356px;
    }

    .responsive-menu-bar {
        background-color: var(--thirt-color);
        width: 100%;
        position: fixed;
        bottom: 0;
        display: flex;
        justify-content: space-between;
    }

    .responsive-menu-bar-container {
        display: flex;
    }
}

