@media(max-width: 1212px) {
    .menu-content {
        width: 670px;
    }

    .ingredients-txt {
        min-width: 330px;
        max-width: 330px;
    }
}

@media(max-width: 1145px) {
    .menu-content {
        width: 650px;
        margin-left: 30px;
        height: 180px;
    }

    .ingredients-txt {
        max-width: 310px;
        min-width: 310px;
    }

    .menu-btn {
        margin-bottom: 26px;
    }
}

@media (max-width: 1061px) {
    .section-basket {
        width: 255px;
    }

    .menu-content {
        margin-left: 8px;
    }
}

@media (max-width: 1030px) {
    .menu-titles-elements {
        padding-left: 30px;
    }
}

@media(max-width: 997px) {
    .ingredients-txt {
        max-width: 268px;
        min-width: 268px;
    }

    .menu-content {
        width: 608px;
    }
}

@media (max-width: 954px) {
    .ingredients-txt {
        max-width: 230px;
        min-width: 230px;
    }

    .menu-content {
        width: 570px;
    }
}

@media(max-width: 915px) {
    .ramen-menu-img {
        height: 133px;
        min-width: 170px;
        max-width: 170px;
    }

    .menu-content {
        width: 548px;
        height: 158px;
    }
}

@media(max-width: 894px) {
    .ingredients-txt {
        max-width: 180px;
        min-width: 180px;
    }

    .menu-content {
        width: 498px;
    }
}

@media(max-width: 844px) {
    .section-basket {
        padding: 20px;
        width: 235px;
    }
}

/*          /\__/\               */
/*        =(  '.' )=   |         */
/*          |`[]``\   /          */
/*          |_n__n_| /           */

@media(max-width: 803px){
    footer {
        height: 180px;
    }

    .menu-content {
        width: 690px;
        height: 176px;
        margin: 0;
    }

    .ingredients-txt {
        max-width: 356px;
        min-width: 356px;
    }


    .section-basket {
        display: none;
        position: fixed;
        bottom:0;
        right: 0;
        top: 0;
        width: 100%;
        height: 100%;
        inset: 0;
        overflow-y: auto;
        border-radius: 0;
    }
    .section-basket.show {
        display: block;
        padding-right: 0;
        padding-left: 0;
    }

    .close-responisve-basket {
        display: block;
        justify-self: flex-end;
        border: 0;
        background-color: transparent;
        color: var(--secondary-color);
        font-size: 30px;
        padding-right: 16px;
    }

    .order-in-basket {
        width: 550px;
        justify-self: center;
        height: 390px;
    }

    .total-basket-styling {
        padding-top: 110px;
        width: 550px;
        justify-self: center;
    }

    .h3-basket {
        margin-top: 0;
        margin-bottom: 55px;
        font-size: 45px;
    }

    .main-logo-img {
        width: 150px;
    }

    .hero-section {
        height: 11vh;
    }

    .empty-basket {
        gap: 100px;
    }

    .empty-basket-shoppingcart {
        width: 120px;
    }

    .ramen-menu-img {
        min-width: 192px;
        max-width: 192px;
        height: 155px;
    }

    .menu-titles-elements {
        justify-content: center;
        padding: 0;
    }
}

@media(max-width:718px) {
    .menu-content {
        width: 640px;
    }

    .ingredients-txt {
        max-width: 306px;
        min-width: 306px;
    }
}

@media(max-width:669px) {
    .menu-content {
        width: 580px;
    }

    .ingredients-txt {
        max-width: 246px;
        min-width: 246px;
    }
}

@media(max-width: 700px) {
    .main-logo-img {
        width: 100px;
        border: 10px solid var(--secondary-color);
    }

    .hero-section {
        height: 7vh;
    }
}

@media(max-width:606px) {
    .menu-content {
        width: 510px;
        height: 155px;
    }

    .ingredients-txt {
        max-width: 176px;
        min-width: 176px;
    }

    .ramen-menu-img {
        height: 135px;

    }
}

@media(max-width: 590px) {
    .empty-basket-text {
        width: 475px;
    }

    .order-in-basket {
        width: 450px;
    }

    .total-basket-styling {
        width: 450px;
    }
}

@media(max-width: 570px) {
    h1 {
        font-size: 40px;
    }

    .hero-section-headline {
        flex-direction: column-reverse;
        gap: 0;
        padding-top: 38px;

    }

    .h1-color1 {
        margin-top: 0;
    }

    .h1-color2 {
        margin-top: 0;
    }

    .h1-color3 {
        margin-top: 0;
    }
}

@media(max-width: 550px) {
    .hero-section {
        height: 6vh;
    }

    .main-logo-img {
        width: 75px;
    }
}

@media(max-width: 540px) {
    .menu-content {
        flex-direction: column;
        height: 290px;
        width: 457px;
    }

    .ramen-menu-img {
        min-width: auto;
        max-width: none;
        width: 440px;
        border-radius: 30px;
    }

    .menu-txt {
        flex-direction: column;
        padding: 8px;
    }

    .price-add-btn {
        flex-direction: row;
        padding: 0 8px;
    }

    .menucart-price {
        margin: 0;
        justify-content: flex-start;
    }

    .menu-ingredients {
        padding: 0;
    }

    .dish-name {
        font-size: 20px;
        margin: 0;
    }

    .ingredients-txt {
        min-width: auto;
        max-width: none;
    }
}

@media(max-width: 490px) {
    .empty-basket-text {
        width: 375px;
    }

    .menu-content {
        width: 417px;
    }

    .ramen-menu-img {
        width: 400px;
    }

    .order-in-basket {
        width: 350px;
    }

    .total-basket-styling {
        width: 350px;
    }
}

@media(max-width: 450px) {
    .menu-content {
        width: 367px;
    }

    .ramen-menu-img {
        width: 350px;
    }

    .sushi-illustration {
        height: 80px;
}
}

@media(max-width: 400px) {
    .menu-content {
        width: 317px;
    }
    
    .ramen-menu-img {
        width: 300px;
        max-height: 115px;
        min-height: 115px;
    }

    .order-food-dialog[open] {
        width: 249px;
    }
}

@media(max-width: 390px) {
    .empty-basket-text {
        width: 275px;
    }

    h1 {
        font-size: 35px;
    }

    .underline {
        font-size: 17px;
    }

    ul {
        flex-direction: column;
        gap: 8px;
        align-items: center;
        height: 120px;
    }

    .order-in-basket {
        width: 280px;
    }

    .total-basket-styling {
        width: 280px;
    }
}

@media(max-width: 350px) {
    .menu-content {
        width: 267px;
    }

    .ramen-menu-img {
        width: 250px;
    }

    .ingredients-txt {
        height: 33px;
    }
}


@media(max-height:880px) {
    .total-basket-styling {
        padding-top: 30px;
    }

    .h3-basket {
        margin: 0;
    }
}

@media(max-height:750px) {
    .order-in-basket {
        height: 300px;
    }

    .total-basket-styling {
        margin-bottom: 30px;
    }
}